.buttons {
  display: flex;
  gap: 10px;
}
.buttons button {
  background-color: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 15px;
}
